<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>GroupChat</title>
    <link rel="stylesheet" href="./styles/home.css">
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1>Simple Group Chat</h1>
            <form action="/" method="POST">
                <label for="uname">Enter your username</label>
                <input type="text" id="uname" name="username">
                <button>Enter</button>
            </form>
            <p class="credits">Made with ❤️ by Marksteward08</p>
        </div>
    </div>
</body>
</html>